.search-input {
  width: 12rem;
}

.search {
  border: 1.5px solid;
  padding: 5px;
  border-radius: 25px;
}

.search-wrapper {
  position: relative;
}

.search-icon {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
