.flex {
  display: flex;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container {
  gap: 2rem;
  margin: 0 0 2rem 0;
}

.justify-between {
  justify-content: space-between;
}

.mt {
  margin-top: 1rem;
}

.color-error {
  color: rgb(255, 81, 81);
}

.btn-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.no-record {
  font-size: 1.2rem;
  text-align: center;
}

.option-disable {
  color: #807f7f;
}

option {
  color: black;
}
